@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;700&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

:root {
  --primary-black: #151515;
  --deep-black: #0d0d0d;
  --white: #ffffff;
  --blue: #015196;
  --disabled: #b3b3b3;
  --orange: #ff5e19;
  --text-color: #ffffffd6;
}
body {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-family: "Berkshire Swash", cursive;
  color: var(--orange);
  font-size: 66px;
}
p,li {
    font-size: 16px;
    color:var(--text-color);
}

input {
    background-color: var(--deep-black);
    color: var(--text-color);
    border: 1px solid white;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
}

input:focus-visible {
    border: 1px solid white;
    outline: none;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.hero-grid-container {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  justify-content: space-between;
}

.bg-dark {
    background-color: var(--deep-black);
}

button:hover {
    background-color: var(--orange);
    cursor: pointer;
} 

button[disabled] {
    background-color: var(--disabled);
}
ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  ol li {
    counter-increment: my-awesome-counter;
  }
  ol li::before {
    content: counter(my-awesome-counter) ".";
    margin-right: 15px;
    font-size: 1.3em;
    font-weight: bold;
  }
/* --------------------hero section--------------- */
.hero-section {
    height: 480px;
}
.second-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.third-col,
.first-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.first-col {
    align-items: flex-start;
}
.third-col {
    align-items: flex-end;
}

.text-div {
    max-width: 740px;
}

.second-col p {
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    margin-top: 2rem;
    line-height: 1.6em;
}

/* ---------------main-section-------------------- */
.main {
    background-color: var(--primary-black);
    padding: 100px 0px;
}
.main-grid-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
}

/* ----------------------players------------------- */
.players-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.player-card {
    background-color: var(--deep-black);  
    border: 1px solid rgba(255, 255, 255, 0.088);
    text-align: center; 
}
.player-image img {
    width: 100%;
}

.player-name {
    font-size: 24px;
    color: var(--white);
    margin-top: 15px;
}

.player-stats {
    color: var(--text-color);
    font-size: 16px;
    margin: 10px 0;
}
.btn-div {
    margin: 20px 20px;
}

.btn {
    background-color: var(--blue);
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
}

/* -------------------costing--------------- */
.costing {
    padding-left: 30px;
}

.selected-players,
.budget {
    background-color: var(--deep-black);
    padding: 30px 20px;
    margin-bottom: 30px;
}

.selected-player-title h4,
.budget-title h4 {
    color: var(--white);
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.selected-players-list {
    margin-left: 30px;
}

.selected-players-list li {
    margin-bottom: 13px;
}

/* ----------inputs--------- */
.per-player-input,
.player-expense,
.manager,
.coach,
.total-expense {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.width-50 {
    width: 50%;
}
.calculate-button,
.calculate-total-button {
    margin-bottom: 20px;
}

.total-cost {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--orange);
}

/* --------------footer------------------ */
.footer {
    padding: 80px;
    background-color: var(--primary-black);
    border-top: 1px solid rgba(255, 255, 255, 0.219);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text {
    color: var(--text-color);
}
